/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(1, 66, 79))
}

 .glow-border {
    -webkit-box-shadow: 0px 0px 30px 10px #565050;
    -moz-box-shadow: 0px 0px 30px 10px #565050;
    box-shadow: 0px 0px 30px 10px #565050;
  }

.border {
    border: #565050
}

.bg_primary-color {
  background-color: #FFFFFF;
}
.primary-color {
  background-color: #FFFFFF;
}
.bg_secondary-color {
  background-color: #293241;
}
.secondary-color {
  color: #293241;
}
.custom-button.btn {
  background-color: #293241;
  color: #FFF;
  border: none;
}
.custom-button.btn:hover {
  color: #FFF !important;
  border: none;
}
.hero {
  width: 100vw;
  height: 50vh;
}
.hero img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
.overlayButton {
  z-index: 2;
}

.overlayParticle {
  height: 100%;
  width: 100%;
  opacity: .8;
  z-index: 0;
}

.particles {
  position: absolute;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlayBase {
  z-index: -2;
}

.invisible {
  display: none;
}

// NAV BAR CSS

.site-header {
  background-color: whitesmoke;
  padding: 20px 10px;
  opacity: .9;
}

.site-header a {
  color: #999;
  transition: ease-in-out color 0.3s;
}

.header-nav-item {
  font-size: 16px;
  font-weight: 300;
  padding: 8px;
  cursor: pointer;
  position: relative;
}

.navbar-underline:link {
  text-decoration: none;
}

.navbar-underline:hover,
.navbar-underline:focus,
.navbar-underline:active {
  color: #999;
  text-decoration: none;
}
.navbar-underline {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
}
.navbar-underline {
  position: relative;
  display: block;
  padding: 16px 0;
  margin: auto;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  text-transform: uppercase;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}
.navbar-underline::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: darkgrey;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}

.navbar-underline:hover::before,
.navbar-underline:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}